{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit Page
{% endblock %}

{% block body %}
    <h1>Edit Page</h1>

    <form action="{% url 'edit_save' %}" method="POST"> 
        {% csrf_token %}
        <div class="form-group" style="width: 80%;">
            <label for="title">Enter Title: </label>
            <input name="title" type="text" class="form-control" id="title" value={{ title }}>
        </div>
        
        <div class="form-group" style="width: 80%;">
            <label for="content">Enter Contents: </label>
            <textarea name="content" class="form-control" id="content" rows="3">{{ content }}</textarea>
        </div>

        <input type="submit" value="Edit" class="btn btn-primary">
    </form> 

{% endblock %}